@use "../../assets/styles/mixins" as mixin;

.about {
  max-width: 1023px;
  width: 100%;
  margin-block: 31px;
  h3 {
    font-size: 24px;
    font-weight: 500;
    @include mixin.sm-lt {
      font-size: 18.5px;
    }
    @include mixin.xs {
      font-size: 13px;
    }
  }
  p {
    padding: 27px 27px 27px 18px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    @include mixin.sm-lt {
      font-size: 12px;
    }
  }
}
