@use "../../assets/styles/mixins" as mixin;

.withmargin {
  margin-bottom: 31px;
  @include mixin.sm-lt {
    margin-bottom: 19px;
  }
}

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--border-radius-3);
  padding-inline: 18px;
  height: 47px;
  cursor: pointer;
  @include mixin.sm-lt {
    padding-inline: 12px;
    height: 30px;
  }
}

.description {
  background-color: var(--background-color);
  border-radius: var(--border-radius-3);
}
