@use "../../assets/styles/mixins" as mixin;
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-size: clamp(12px, 2.5vw, 24px);
  padding-top: 66px;
  margin-top: 50px;
  @include mixin.sm-lt {
    margin-top: 20px;
    padding: 0;
    height: 209px;
    display: flex;
    justify-content: center;
  }
}
