:root {
    --primary-color: #FF6060;
    --footer-color: #000000;
    --text-color: #FFFFFF;
    --background-color: #F6F6F6;
    --font-family: Montserrat, sans-serif;
    --border-radius-1: 25px;
    --border-radius-2: 10px;
    --border-radius-3: 5px;
}