:root {
  --primary-color: #ff6060;
  --background-color: #f6f6f6;
  --grey: #e3e3e3;
  --font-family: Montserrat, sans-serif;
  --border-radius-1: 25px;
  --border-radius-2: 10px;
  --border-radius-3: 5px;
}
